@import '../../utils/colours.scss';
.navbar {
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: $navbar-colour-bg;
    border: 0;
    outline: 0;
  }
 


.navlink{
    
    display: inline;
    padding-left: 20px; 
    padding-right: 40px;
    padding-bottom: 8px;
    //background-color: ;
    color: aliceblue;
    font-size: 40px;
    font-weight: 100;
    font: 100 25px/1.5 'Roboto', sans-serif; 
    background-color: #333;
    text-decoration: none;

    
    &-active{
        display: inline;
        background-color: #5F9E91;
        color: rgb(172, 7, 144);
        padding-left: 20px; 
        padding-right: 40px;
        padding-bottom: 8px;
        font-weight: 100;
        font: bold 30px/1.5 'Roboto', sans-serif; 
        text-decoration: none;
    }
}
.navlink:hover {
    background-color: #111;
    
}




