@import '../../utils/colours.scss';

.myHeader{
    margin: 10px;
}
// .brand-page-title{
//     font-size: 30px;
//     font-weight: 100;
//     font: 100 20px/1.5 'Roboto', sans-serif; 
// }
h1{
    font: bold 35px/1.5 'Roboto', sans-serif; 
    color: $brand-colour-header-page-title;
    margin: 0;
}