$brand-bg: rgb(6, 117, 95);
$brand-header: rgb(220, 220, 220);
$brand-colourA: rgb(210, 108, 35);
$brand-colourB: rgb(118, 15, 77);
$brand-tableHeading: black;
$brand-tableHeadingBg: white;
$brand-border: black