$brand-bg: rgb(95, 158, 145);
$brand-header: rgb(220, 220, 220);
$brand-colourA: rgb(210, 108, 35);
$brand-colourB: rgb(118, 15, 77);
$brand-tableHeading: white;
$brand-tableHeadingBg: rgba(66, 66, 66, 0.61);
$brand-tableRow: white;
$brand-tableRowBg: rgb(102, 101, 101);
$brand-border: black;
$brand-colour-header-page-title: rgb(5, 5, 126);
$navbar-colour-bg: rgba(92, 90, 90, 0.932);